@keyframes animOnSystemLeft{
    0%{
       left: 48%;
       opacity: 0;
    }
    100%{
       left: 42%;
       opacity: 1;
    }
 }
 
 @keyframes animOnSystemRight{
    0%{
       left: 48%;
       opacity: 0;
    }
    100%{
       left: 54%;
       opacity: 1;
    }
 }
 @keyframes animate{
    0%{
       color: $colorTitle;
       text-shadow: none;
    }
    100%{
       color: #fff;
       text-shadow: 0 0 10px $backColorTitle,
       0 0 20px $backColorTitle,
       0 0 40px $backColorTitle,
       0 0 60px $backColorTitle,
       0 0 80px $backColorTitle,
       
    }
 }

 @keyframes animateArrows{
     0%{
         left: 30%;
     }
     50%{
         left:40%;
     }
     100%{
         left: 10%;
     }
 }
 
